# .clang-format

# Base style to use
BasedOnStyle: Google

# Indentation settings
IndentWidth: 4
UseTab: Never

# Language:
Language: Cpp

# Alignment settings
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

# Break settings
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Comment settings
CommentPragmas: Preserve
SortIncludes: false

# Case blocks
IndentCaseBlocks: true

# Space settings
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false

# Other settings
ColumnLimit: 0  # Disable column limit
