# .clang-format

# Base style to use
BasedOnStyle: Google

# Indentation settings
IndentWidth: 4
UseTab: Never

# Language:
Language: Cpp

# Alignment settings
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true

# Break settings
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
  AfterFunction: true
  BeforeElse: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Space settings
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false

SpaceAfterCStyleCast: true
SpaceBeforeCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Comment settings
CommentPragmas: Preserve
SortIncludes: false

# Other settings
ColumnLimit: 0  # Disable column limit

AlignArrayOfStructures: None

AllowShortBlocksOnASingleLine: true

# Case blocks
IndentCaseBlocks: true
IndentCaseLabels: true


# Pointer Alignment
PointerAlignment: Left

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false

SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInSquareBrackets: false

