Source: xeve
Priority: optional
Maintainer: Dawid Kozinski <dkozinsk@interia.pl>
Uploaders: Dawid Kozinski <dkozinsk@interia.pl>
Build-Depends: cmake (>= 3.12), debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/mpeg5/xeve
Vcs-Git: https://github.com/mpeg5/xeve.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/xeve-base.git

Package: xeve-base-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: xeve-base1 (= ${binary:Version}), ${misc:Depends}
Description: eXtra-fast Essential Video Encoder (XEVE) - Baseline Profile (development files)
 The eXtra-fast Essential Video Encoder (XEVE) is an opensource and fast MPEG-5 EVC encoder.
 MPEG-5 Essential Video Coding (EVC) is a video compression standard of ISO/IEC Moving Picture Experts Grop (MPEG).
 The main goal of the EVC is to provide a significantly improved compression capability over existing video coding standards with timely publication of terms.
 The EVC defines two profiles, including "Baseline Profile" and "Main Profile".
 The "Baseline profile" contains only technologies that are older than 20 years or otherwise freely available for use in the standard.
 In addition, the "Main profile" adds a small number of additional tools, each of which can be either cleanly disabled or switched to the corresponding baseline tool on an individual basis.

Package: xeve-base1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: eXtra-fast Essential Video Encoder (XEVE) - Baseline Profile
 The eXtra-fast Essential Video Encoder (XEVE) is an opensource and fast MPEG-5 EVC encoder.
 MPEG-5 Essential Video Coding (EVC) is a video compression standard of ISO/IEC Moving Picture Experts Grop (MPEG).
 The main goal of the EVC is to provide a significantly improved compression capability over existing video coding standards with timely publication of terms.
 The EVC defines two profiles, including "Baseline Profile" and "Main Profile".
 The "Baseline profile" contains only technologies that are older than 20 years or otherwise freely available for use in the standard.
 In addition, the "Main profile" adds a small number of additional tools, each of which can be either cleanly disabled or switched to the corresponding baseline tool on an individual basis.

Package: xeve-main-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: xeve-main1 (= ${binary:Version}), ${misc:Depends}
Description: eXtra-fast Essential Video Encoder (XEVE) - Main Profile (development files)
 The eXtra-fast Essential Video Encoder (XEVE) is an opensource and fast MPEG-5 EVC encoder.
 MPEG-5 Essential Video Coding (EVC) is a video compression standard of ISO/IEC Moving Picture Experts Grop (MPEG).
 The main goal of the EVC is to provide a significantly improved compression capability over existing video coding standards with timely publication of terms.
 The EVC defines two profiles, including "Baseline Profile" and "Main Profile".
 The "Baseline profile" contains only technologies that are older than 20 years or otherwise freely available for use in the standard.
 In addition, the "Main profile" adds a small number of additional tools, each of which can be either cleanly disabled or switched to the corresponding baseline tool on an individual basis.

Package: xeve-main1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: eXtra-fast Essential Video Encoder (XEVE) - Main Profile
 The eXtra-fast Essential Video Encoder (XEVE) is an opensource and fast MPEG-5 EVC encoder.
 MPEG-5 Essential Video Coding (EVC) is a video compression standard of ISO/IEC Moving Picture Experts Grop (MPEG).
 The main goal of the EVC is to provide a significantly improved compression capability over existing video coding standards with timely publication of terms.
 The EVC defines two profiles, including "Baseline Profile" and "Main Profile".
 The "Baseline profile" contains only technologies that are older than 20 years or otherwise freely available for use in the standard.
 In addition, the "Main profile" adds a small number of additional tools, each of which can be either cleanly disabled or switched to the corresponding baseline tool on an individual basis.



