name: Build

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-baseline-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt-get update -qq && sudo apt-get -y install \
          cmake

      - name: Build xeve baseline
        run: |
          mkdir build
          cd build
          cmake .. -DSET_PROF=BASE
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeveb_app-linux
          path: build/bin/xeveb_app
          retention-days: 5

      - name: 'Upload library Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: libxeveb-linux
          path: build/lib/
          retention-days: 5

  build-main-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt-get update -qq && sudo apt-get -y install \
          cmake

      - name: Build xeve main
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeve_app-linux
          path: build/bin/xeve_app
          retention-days: 5

      - name: 'Upload library Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: libxeve-linux
          path: build/lib/
          retention-days: 5

  build-baseline-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build xeve baseline
        run: |
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles" -DSET_PROF=BASE
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeveb_app-windows
          path: build/bin/xeveb_app.exe
          retention-days: 5

      - name: 'Upload library Artifacts'
        uses: actions/upload-artifact@v4
        with:
          name: libxeveb-windows
          path: build/src_base/libxeveb.*
          retention-days: 5

  build-main-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build xeve main
        run: |
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeve_app-windows
          path: build/bin/xeve_app.exe
          retention-days: 5

      - name: 'Upload library Artifacts'
        uses: actions/upload-artifact@v4
        with:
          name: libxeve-windows
          path: build/src_main/libxeve.*
          retention-days: 5
  
  build-baseline-arm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt-get update -qq && sudo apt-get -y install \
          cmake gcc-arm-linux-gnueabi gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

      - name: Build xeve baseline
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_SYSTEM_PROCESSOR=aarch64 -DSET_PROF=BASE -DARM=TRUE
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeveb_app-arm
          path: build/bin/xeveb_app
          retention-days: 5

      - name: 'Upload library Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: libxeveb-arm
          path: build/lib/
          retention-days: 5

  build-main-arm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt-get update -qq && sudo apt-get -y install \
          cmake gcc-arm-linux-gnueabi gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

      - name: Build xeve main
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_SYSTEM_PROCESSOR=aarch64 -DARM=TRUE
          make

      - name: 'Upload executable Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: xeve_app-arm
          path: build/bin/xeve_app
          retention-days: 5

      - name: 'Upload library Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: libxeve-arm
          path: build/lib/
          retention-days: 5
